@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
body {
  margin: 15px 10px;
  font-family: 'Recursive', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 32, 58);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


